body {
    background-color: #F499C2;
}
/* header */
.bg-dark {
    background-color: #D70081!important;
}
.jumbotron {
  background-color: #EE3D97;
  }
  
  .btn-primary {
      color: #fff;
      background-color: #840C58;
      border-color: #840C58;
  }
